{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <h2>Вітаємо на Plant Care</h2>

                        <ul>
        <li><a href="{{ url_for('streamlit') }}">Управління рослинами</a></li>
    </ul>

                        <p>Веб-сайт Plant Utility є комплексною платформою, яка допомагає користувачам оптимізувати догляд за рослинами та збирання врожаю за допомогою штучного інтелекту. Користувачі можуть легко додати рослини до своєї колекції, вибравши з великого каталогу або додавши свої унікальні сорти рослин з унікальними назвами та основними умовами догляду.

                            Інтелектуальна система рекомендацій щодо догляду за рослинами є однією з ключових функцій сайту. Платформа використовує машинне навчання, щоб надати користувачам автоматизовані та індивідуальні поради щодо догляду за кожною рослиною в їхній колекції. Користувачі отримують точні та ефективні поради щодо догляду за своїми рослинами, оскільки ці рекомендації враховують такі важливі елементи, як вид рослини, кліматичні умови та інші важливі елементи.
                            
                            Веб-сайт Plant Utility є цінним ресурсом для користувачів, незалежно від того, чи є вони досвідченими садівниками чи новачками в догляді за рослинами. Він допомагає їм приймати розумні рішення та сприяє процвітанню гармонійних стосунків між людьми та їхніми рослинами.</p>
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}